<%inherit file="../base.mako" />

<div id="observe-group" data-role="page">

    ${parent.header()}

    <div data-role="content">

        Anonymized List of Recent Observations?

    </div>

    ${parent.footer()}

</div>